.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.h1 {
    font-size: 36px;
}





.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.media-middle {
    vertical-align: middle;
}
.h3 {
    font-size: 24px;
}
.h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}





.label-success {
    background-color: #ffffff;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.media-middle {
    vertical-align: middle;
}
.h3 {
    font-size: 24px;
}



.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mp {
    width: 16.66666667%;
    float: left;
}

.ma {
    float: left;
}
.mo {
    width: 100%;
}
.mp, .ma, .mo {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.mo, .dropdown-menu {
    float: left;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}