@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Source+Sans+Pro:wght@200&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(104, 198, 221, 0.671);
    transition: 0.5s;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
}
header .logo
{
    position: relative;
    max-width: 120px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    font-family: monospace;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox
{
    position: relative;
    max-width: 600px;
}
.content .textbox h2
{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Nunito", Sans-serif;
}
.content .textbox h2 span
{
    font-size: 2em;
}
.content .textbox p
{
    color: #fff;
}
a
{
    display: inline-block;
    padding: 8px 20px;
    background: rgba(255, 255, 255, 0.8);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Nunito", Sans-serif;
}
.content .imgbox
{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}
.mini-block
{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    height: 350px;
    width: 300px;
    border-radius: 1em;
    text-align: center;
    padding: 10px;
}
.arrow
{
    text-align: center;
    margin-left: 5px;
    transition: .5s;
}
.arrow:hover
{
    transform: rotate(180deg);
}
.principal-block
{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 500px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
}
img
{
  max-width: 100%;
  max-height: 100%;
}
.block1
{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 2em;
  width: 30%;
  height: 400px;
}
.block2
{
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 2em;
  width: 60%;
  height: 400px;
  overflow-y: scroll;
}
.block3
{
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
  background: rgba(81, 216, 250, 0.7);
  width: 250px;
  height: 300px;
}
.profil1
{
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  border-radius: 10em;
  background: rgba(81, 216, 250, 0.7);
}
.profil2
{
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
  border-radius: 10em;
  background: rgba(255, 255, 255, 0.7);
}